---
// index.astro
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="container">
        <header>
            <h1>🌱 Extra Ephemera</h1>
            <p>The Mosslight Nook Plant Catalog</p>
        </header>
    </div>
</Layout>
