---
// plant.astro
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="container">
        <a href="/collection" class="back-link">← Back to Collection</a>

        <div id="loading" class="loading">Loading plant...</div>
        <div id="plant-detail" class="plant-detail"></div>
    </div>
</Layout>

<script>
    import '../js/plant-detail.ts';
</script>
