---
// Nav.astro
---
<nav class="main-nav">
    <a href="/" class="nav-logo">🌱 Extra Ephemera</a>
    <ul class="nav-links">
        <li><a href="/collection">Collection</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/stories">Stories</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/add">Add Cultivar</a></li>
    </ul>
</nav>
