---
// Layout.astro
import '../assets/style.css'
const { pageTitle } = Astro.props;
import Nav from '../components/Nav.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="ico" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
	<Nav />
		<main>
			<slot />
		</main>
		<script src="/src/js/main.ts"></script>
	</body>
</html>
