---
import '../assets/style.css'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Extra Ephemera | Mosslight Nook</title>
	</head>
	<body>
		<nav class="main-nav">
			<a href="/" class="nav-logo">🌱 Extra Ephemera</a>
			<ul class="nav-links">
				<li><a href="/collection">Collection</a></li>
				<li><a href="/">Search</a></li>
				<li><a href="/add">Add Cultivar</a></li>
			</ul>
		</nav>
		<main>
			<slot />
		</main>
		<script src="/src/js/main.ts"></script>
	</body>
</html>
